<time_history_plot>
  <title>Hall D Database Servers: Number of Connections</title>
  <input_data_spec file="/group/halld/Software/time-history-plots/plots/mysql/mysql.ddml"/>
  <time_scale scale="dummy_scale"/>
  <time_range type="latest" duration="dummy_duration"/>
  <plot x="time" y="hallddb"/>
  <plot x="time" y="ccdb"/>
  <plot x="time" y="hallddb-ext"/>
  <plot x="time" y="halldweb"/>
  <time_zone offset="-04:00"/>
  <output type="png" file="dummy_file"/>
</time_history_plot>
